@page
@model VirtualBank.Pages.CreateAccountModel
@{
	Layout = null;
    ViewData["Title"] = "Criar Conta";
}


<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VirtualBank.styles.css" asp-append-version="true" />
</head>

<form method="post" class="p-3 border-5" style="margin: 30px 50px 200px ">

    <div class="row pb-2 border border-primary p-2 bg-primary disabled">
        <h1 class="text-primary text-white"><strong>@ViewData["Title"]</strong></h1>
    </div>

    <br>
    <br>
    <br>

    <div class="form-group row">
        <label asp-for="Usuario.Cpf">CPF</label>
        <input asp-for="@Model.Usuario.Cpf" class="form-control" placeholder="CPF">
        
    </div>

    <br>

    <div class="form-group row">
        <label asp-for="Usuario.Nome">Nome</label>
        <input asp-for="@Model.Usuario.Nome" class="form-control" placeholder="Nome">
        
    </div>

    <br>

    <div class="form-group row">
        <label asp-for="Usuario.Email">Email</label>
        <input asp-for="@Model.Usuario.Email" class="form-control" placeholder="Email">
        
    </div>

    <br>

    <div class="form-group row">
        <label asp-for="Usuario.Senha">Password</label>
        <input asp-for="@Model.Usuario.Senha" class="form-control" placeholder="PassWord">
        
    </div>

    <br>
    <br>

    <button type="submit" class="btn btn-primary" value="Index">Submit</button>
</form>

